<nav class="navbar navbar-light bg-light">
  <div class="row justify-content-start w-100">
    <div class="col-1">
      <a class="navbar-brand" href="#">Navbar</a>
    </div>
    <div class="col-4">
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="row" id="main-side-bar">
  <div class="col-1 bg-light">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          SAITAMA
        </a>
      </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-users"></i>All contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-address-book"></i></i>Audience</a>
      </li>
    </ul>
  </div>
  <div class="col">
  
  </div>
</div>